gmail_manager_auto_labeling.json
{
  "name": "gmail_manager_auto_labeling",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d8d35dac-f78f-425d-b218-9c311c7997a0",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "zxad2hXpDhdMDaVh",
          "name": "Gmail account 754"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "PRIORITY",
              "description": "Detect whether the text contains urgent matters or content that needs immediate review or attention."
            },
            {
              "category": "SPONSORSHIP",
              "description": "Classify whether the text is related to sponsorship requests, offers, or discussions. Output: ‘sponsorship’ or ‘not_sponsorship’."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "ed9ddf6c-0e21-4ec8-ab31-c50947b4294f",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "547384ba-3919-4c5e-aa97-0e2f8a3b64fd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fYjmLFn8w7P0uAFg",
          "name": "Google Gemini(PaLM) Api account 970"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8502496723110820953"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        -96
      ],
      "id": "c7a357c5-db94-41b2-8f51-421b4aaeaeb0",
      "name": "Add label to message",
      "webhookId": "7f99c582-f7bd-45d7-869a-1f9480ca5d35",
      "credentials": {
        "gmailOAuth2": {
          "id": "zxad2hXpDhdMDaVh",
          "name": "Gmail account 754"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8753861659330302274"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        64
      ],
      "id": "3bde3013-1736-4d43-8dc4-e9a851e67480",
      "name": "Add label to message1",
      "webhookId": "7f99c582-f7bd-45d7-869a-1f9480ca5d35",
      "credentials": {
        "gmailOAuth2": {
          "id": "zxad2hXpDhdMDaVh",
          "name": "Gmail account 754"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fafda009-3918-4324-9b4d-6b92dba2b898",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8aa7a6b00703250dcbefcb510baac06d8bd02203b4f9c49a6f275db8e3adde34"
  },
  "id": "E3xV6WaPpng9AWCR",
  "tags": []
}